<% provide(:title, 'Contact') %>
<h1>Contactanos</h1>
<p>
   Póngase en contacto con el Tutorial Ruby on Rails sobre la aplicación
   de ejemplo en la <a href="http://railstutorial.org/contact"> 
   pagina de contactos </a>.
</p>
 

