<% provide(:title, 'Help') %>

    <h1>Ayuda</h1>
    <p>
      Obtenga ayuda para el Tutorial Ruby on Rails en la
      <a href="http://railstutorial.org/help"> página de ayuda</a> 
      del Tutorial de Rails.
      Para obtener ayuda sobre esta aplicación de ejemplo,consulte el libro 
      <a href="http://railstutorial.org/book"> Tutorial Rails</a>.
    </p>
 
